{% extends '_layout.html' %}

{% block title %} {{ topic.title }} {% endblock %}

{% block content %}
<a href="{% url 'index' %}">Назад</a>

<p>{{ topic.content }}</p>

{% if submission %}
<p>Вы отправили ответ</p>
<p>{{ submission.answer }}</p>
<p>Оценка: {{ submission.score }}</p>
{% elif topic.assignment %}
<form action="" method="post">
    {% csrf_token %}
    <textarea name="answer" required placeholder="Ваш ответ..."></textarea>
    <button type="submit">Отправить</button>
</form>
{% endif %}
{% endblock %}