{% extends "infra/_layout_admin.html" %}

{% block content %}
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
<h2 class="font-bold text-primary" style="font-size: 42px;">Группы</h2>
<form method="get" class="flex flex-row gap-2">
  <select class="select" name="year" onchange="submit">
  <option disabled selected>Фильтр по курсу</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
    <input type="text" 
           name="search"
           placeholder="Поиск по номеру"
           class="input input-primary"/>
    <button type="submit" class="btn btn-primary">Найти</button>
</form>
</div><br/>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Номер группы</th>
        <th>Курс</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr>
        <td>{{ group.title }}</td>
        <td>{{ group.year }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}