{% extends 'layout.html' %}

{% block title %}
    {{ course.discipline.code }} {{ course.discipline.title }}
{% endblock %}

{% block content %}
<p>Кол-во часов изучения: {{ course.discipline.duration }} ак.ч.</p>

<table>
    <thead>
        <tr>
            <th>Тема</th>
            <th>КТ</th>
            <th>Кол-во часов</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in course.discipline.topic_set.all %}
        <tr>
            <td>
                <a href="{% url 'topic' topic.id %}">{{ topic.title }}</a>
            </td>
            {% if topic.assignment_set.first %}
            <td>{{ topic.assignment_set.first.submission_set.first.score }} / {{ topic.assignment_set.first.weight }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td>???</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
