{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}noLXP{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'pico.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><strong>noLXP</strong></li>
        </ul>

        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'courses' %}">Курсы</a></li>
                <li>{{ request.user.username }}</li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    <h1>{% block title_text %}{% endblock %}</h1>

    {% block content %}
    {% endblock %}
</main>
</body>
</html>