{% extends 'layout.html' %}

{% block title %}
Логин
{% endblock %}

{% block title_text %}
Вход
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <article>
            {{ message }}
        </article>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}

    <label>
        Логин
        <input type="text" name="username" required>
    </label>

    <label>
        Пароль
        <input type="password" name="password" required>
    </label>

    <button type="submit">Войти</button>
</form>

{% endblock %}