<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ assignment.title }}</title>
        {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}?v=3">  </head>

</head>
<body>
<header>
        <img src="" alt="" class="logo" />

        <div class="profile" style="position: relative;">
          <h1>{{ user.student.surname }} {{ user.student.name.0 }}.</h1>
          <div
            class="pfp"
            onclick="document.getElementById('menu').style.display = 'block'"
          >
            {{ user.student.surname.0 }}{{ user.student.name.0 }}
          </div>
          <div
            id="menu"
            style="
              display: none;
              position: absolute;
              background: white;
              border: #93abbc 1px solid;
              top:85px;
              right:0;
            "
            onmouseleave="this.style.display = 'none'"
          >
            <form method="post" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
              <button type="submit">Выйти</button>
            </form>
            <a href="/admin/"><button>Админка</button></a>
          </div>
        </div>
</header>
<main class="kt-main">
    <h1><a href="{% url 'courses:detail' assignment.discipline.courses.first.pk %}">⬅️</a> {{ assignment.title }}</h1>
    <p>{{ assignment.content }}</p>
     {% if answer.score is not None %}
            <p>Оценка: {{ answer.score }}/{{ assignment.weight }}</p>
        {% else %}
            <p>Максимальный балл: {{ assignment.weight }}</p>
        {% endif %}

    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

<form method="post">
        {% csrf_token %}
        <textarea name="value" rows="5" cols="40"></textarea>
        <br>
        <button type="submit">Отправить</button>
    </form>

    <div class="previous_answer">
    {% if answer %}
        <h3>прошлый ответ</h3>
        <p>{{ answer.value }}</p>
    {% endif %}
  </div>
    
</main>
</body>
</html>