
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">  </head>

</head>


<body>

          <header>
        <img src="" alt="" class="logo" />

        <div class="profile" style="position: relative;">
          <h1>{{ user.student.surname }} {{ user.student.name.0 }}.</h1>
          <div
            class="pfp"
            onclick="document.getElementById('menu').style.display = 'block'"
          >
            {{ user.student.surname.0 }}{{ user.student.name.0 }}
          </div>
          <div
            id="menu"
            style="
              display: none;
              position: absolute;
              background: white;
              border: #93abbc 1px solid;
              top:85px;
              right:0;
            "
            onmouseleave="this.style.display = 'none'"
          >
            <form method="post" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
              <button type="submit">Выйти</button>
            </form>
            <a href="/admin/"><button>Админка</button></a>
          </div>
        </div>
      </header>

      <main>
    <h1>{{ topic.title }}</h1>
    <div>{{ topic.content|linebreaks }}</div>
    <a href="{% url 'courses:detail' topic.discipline.courses.first.pk %}">← Назад к курсу</a>
</main>
</body>
</html>